// @import "theme/accordion.scss";
// @import "theme/alert.scss";
// @import "theme/align.scss";
// @import "theme/navbar.scss";

@import "uikit/src/scss/variables.scss";
@import "uikit/src/scss/mixins.scss";

// mixin overrides

@mixin hook-navbar-container() {
  background-color: $global-primary-background;
}

// main uikit
@import "uikit/src/scss/uikit.scss";

// theme
html, body {
  height: 100%;
}

#react-root {
  height: 100%;
}

.nv-logo {
  color: #fff;

  &:hover {
    color: #eee;
  }
}

.nv-sidebar {
  width: 220px;
  border-right: 1px solid #AAA;
}

.nv-graph-item {
  font-size: 14px;
}
